@import '../FONTS/fontie-package/Gilroy SemiBold.css';
@import '../FONTS/fontie-package/Gilroy.css';

*,
*::before,
*::after {
  box-sizing: border-box;
}


body {
  margin: 0;
  color: #ffffff;
  padding: 0;
  font-family: 'Gilroy';
}

h2 {
  margin-block-start: 0 !important;
  margin-block-end: 0 !important;
}

a {
  text-decoration: none;
}



.big-number {
  font-size: 7em;
  line-height: 62px;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}

nav, .access-links {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  color: #0F4885;
}

.home-about {
  background-color: #1f4a7d;
  padding: 2rem;
}

.home-example {
  background-color: #fed447;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.home-example .circle {
  position: absolute;
  right: -70px;
  top: -30px;
  z-index: 0;
}

.home-example .photo {
  z-index: 1;
}

.home-example .six {
  position: absolute;
  bottom: -15px;
  left: -20px;
  z-index: 2;
}

.panels-container {
  background-color: #e21b52;
  border: 3px green solid;
  display: flex;
  flex-direction: column;
  border: 3px purple solid;
  margin: 0 auto;
  border: 3px yellow solid;
  padding: 1em;
}

.panel {
  padding: 1em;
  display: flex;
  border-top: 2px white solid;
}

.home-hero {
  padding-bottom: 3rem;
  padding-top: 20rem;
  /* background-color: grey; */
  border: 2;
  background-image: url(../IMG/toronto_neighborhood_v2.jpg);
  background-size: cover;
  /* justify-content: flex-end; */
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-position: right;
}



.home-hero img{
  width: 100%;
}

.panel .content {
  margin-left: 40%;
}

.home-example-2 {
  background-color: #ffffff;
}

footer {
  background-color: #f8f5ed;
  color: #0f4885;
  padding: 2rem;
  position: relative;
  overflow: hidden;
}

.subscribe-button {
  background-image: url("../IMG/subscribe-border.png");
  width: 126px;
  height: 33px;
  display: block;
  text-align: center;
  padding: 6px;
  color: white;
}

.mailing-list input {
  margin-bottom: 1rem;
}

.mailing-list {
  margin-top: 1rem;
}

.arrow-button {
  display: block;
}

.arrow-button img {
  width: 15px;
  margin-left: 0.5rem;
}

.logo {
  width: 150px;
}

.logo-tagline .logo{
  vertical-align: -0.7rem;
}

.footer-content {
  position: relative;
  z-index: 1;
}

.box-circle {
  position: absolute;
  z-index: 0;
  right: -7rem;
  bottom: 1rem;
}

.tag-line {
  display: inline-block;
  margin-left: 1rem;
}

.dropdown {
  position: relative;
  display: inline-block;
  text-decoration: none;
}


.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  left: -1rem;
  top: -1rem;
  background: red;
  padding: 1rem;
  padding-bottom: 2rem;
}

.dropdown-content li {
  /* text-decoration: none; */
}
.dropdown-content li:nth-child(1) a{
  padding-bottom: 0.3rem;
  border-bottom: 1px solid white;
  display: inline-block;
  margin-bottom: 1rem;
}

.dropdown-content li:nth-child(n+2) a{
  font-size: 1.5em;
}


.dropdown:hover .dropdown-content {
  display: block;
}



/*---- Media Queries ----*/


@media (min-width: 700px){
  body {
    padding: 0 1rem 1rem 1rem;
  }

  header #menu-icon {
    display: none;
  }


  header .tag-line {
    color: grey;
  }

  nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: center;
  }

  nav > ul > li {
    margin-right: 3rem;
  }

  .access-links span {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  .home-example {
    display: none;
  }

  .home-about {
    background-image: url("../IMG/homepage_background.png");
    background-size: cover;
    padding: 12rem;
    position: relative;
    text-align: center;
    background-position: right;
  }
  
  .about-content {
    background: #1F4A7D;
    top: 0px;
    left: 0px;
    padding: 4rem;
    /* padding-bottom: 15rem; */
    width: 46%;
    /* height: 49%; */
    /* text-align: center; */
    position: absolute;
    text-align: left;
  }

  .about-content h2 {
    font-size: 2em;
    max-width: 27rem;
  }

  .about-content p {
    font-size: 1.4em;
    /* width: 71%; */
    margin-left: 13%;
    max-width: 35rem;
  }

  .about-content a {
    margin-left: 13%;
    color: white;
  }

  .call-to-action {
    margin-right: 28%;
  }

}