*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    color: #ffffff;
    padding: 0;
}

header, .home-hero {
    background-color: #CCCCCC;
}

.home-about{
    background-color: #1F4A7D;
}

.home-example {
    background-color: #FED447;
}

.home-works {
    background-color: #E21B52;
}